.container {
   display: flex;
   flex-direction: row;
}

h1 {
   font-size: 20px;
   color: white;
}

.wrapper {
   padding: 10px 0px 10px 20px;
}

.sidebar {
   color: rgb(223, 222, 222);
   background-color: #145da0;
   width: 25%;
   height: 100vh;
   padding: 0px 0px 0px 0px;
}

.sidebar-menu {
   background-color: #0c2d48;
   color: white;
   display: flex;
   flex-direction: row;
   column-gap: 10px;
}

.sidebar-menu:hover {
   background-color: #0c2d48;
   cursor: pointer;
}

.logo {
   display: flex;
   flex-direction: row;
   column-gap: 10px;
   align-items: center;
   align-self: center;

   background-color: #2e8bc0;
   padding: 0px 0px 0px 20px;
}

.layout-content {
   background-color: #b1d4e0;
   margin-right: -25%;
   width: 75%;
   height: 100vh;
}

.container-data-grid {
   display: flex;
   flex-direction: column;
   row-gap: 50px;
   padding: 20px;
}

.data-grid {
   height: 371px;
   width: 100%;
}
